<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="static/js/draw-script.js" defer></script>

  <!-- new bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
  <!-- css -->
  <link rel="stylesheet" href="../static/css/open-iconic-bootstrap.css">
  <title>Drawing App 🎨</title>
  <link rel="stylesheet" href="static/css/draw-page.css">

</head>

<body>

  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand fw-bold" href="{{ url_for('index') }}">Banana Forest</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"></a>
          </li>
        </ul>
        {% if current_user.is_authenticated %}
        <a class="navbar-brand" href="http://localhost:56733/draw">Draw</a>
        <div class="dropdown">
          <img class="tw-user-small rounded-circle object-fit-cover float-end dropdown-toggle"
            src="{{ current_user.avatar_url }}" data-bs-toggle="dropdown" aria-expanded="false">
          <ul class="dropdown-menu dropdown-menu-lg-end p-2">
            <li><a class="dropdown-item" href="{{ url_for('profile') }}">Profile</a></li>
            <li><a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a></li>
          </ul>
        </div>
        {% else %}
        <a class="nav-link" href="{{ url_for('login') }}"><i class="bi bi-key p-1"></i>Login</a>
        {% endif %}
      </div>
    </div>
  </nav>

  <!-- <nav class="navbar navbar-expand">
    <div class="container-fluid">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="http://localhost:56733"><span class="oi oi-home"></span><span class="nav-text">Home</span></a>
      </div>
      <div>
        <img class="tw-user-small rounded-circle" src="static/img/tweeterUserSmall.jpg" width="40"> &nbsp;
      </div>
    </div>
  </nav> -->

  <div class="container-fluid display-container">
    <div class="row">
      <div class="col-2 pt-5">
        <div class="container toolsbar justify-content-center rounded">
          <div class="d-flex row p-1 justify-content-center">
            <div class="col-2 m-1 clr clr-black" data-clr="black"></div>
          </div>
          <div class="row py-1 justify-content-center">
            <div class="col-2 m-1 clr clr-red" data-clr="red"></div>
          </div>
          <div class="row py-1 justify-content-center">
            <div class="col-2 m-1 clr clr-orange" data-clr="orange"></div>
          </div>
          <div class="row py-1 justify-content-center">
            <div class="col-2 m-1 clr clr-blue" data-clr="blue"></div>
          </div>
          <div class="row py-1 justify-content-center">
            <div class="col-2 m-1 clr clr-purple" data-clr="purple"></div>
          </div>
          <div class="row py-1 justify-content-center">
            <div class="col-2 m-1 clr clr-yellowgreen" data-clr="yellowgreen"></div>
          </div>
          <div class="row py-1 justify-content-center">
            <div class="col-2 m-1 clr clr-yellow" data-clr="yellow"></div>
          </div>
          <div class="row py-1 justify-content-center">
            <div class="col-2 m-1 clr clr-white" data-clr="white"></div>
          </div>
        </div>
        <div class="container brushbar py-1 mt-3 rounded">
          <div class="row p-2 justify-content-center">
            <input type="range" name="ageInputName" class="form-range pl-1 px-1" id="ageInputId" value="5" min="1"
              max="10" oninput="ageOutputId.value = ageInputId.value">
          </div>
          <div class="row justify-content-center">
            <output id="ageOutputId" class="text-center pb-1" style="font-weight: 900; color: black;">5</output>
          </div>

        </div>

      </div>
      <div class="col-8 p-5" id="canvas-container">
        <canvas class="rounded" id="draw_screen"></canvas>
      </div>
      <div class="col-2 p-5">
        <div class="container bgcontrol mb-4 rounded">
          <div class="row p-2 py-4 justify-content-center">
            <input type="color" class="form-control form-control-color" id="favcolor" value="#FFFFFF">
            <div class="tools row justify-content-center">
              <i class="tool bi bi-pencil fs-2 m-1" id="pencil" onclick="changestate('pencil')"></i>
              <!-- <img class="tool" id="pencil" src="./static/img/pencil.png" onclick="changestate('pencil')"></img> -->
              <i class="tool bi bi-palette fs-2 m-1" id="line" onclick="changestate('line')"></i>
              <!-- <img class="tool" id="line" src="./static/img/l.png" onclick="changestate('line')"></img> -->
              <i class="tool bi bi-paint-bucket fs-2 m-1" id="fill" onclick="changestate('fill')"></i>
              <!-- <img class="tool" id="fill" src="./static/img/bucket.png" onclick="changestate('fill')"></img> -->
              <i class="tool bi bi-eyedropper fs-2 m-1" id="picker" onclick="changestate('picker')"></i>
              <!-- <img class="tool" id="picker" src="./static/img/p.png" onclick="changestate('picker')"></img> -->
            </div>
          </div>
        </div>

        <div class="container controlbar p-4 rounded mt-4">
          <div class="row justify-content-center">
            <button class="btn btn-primary clear m-1">Clear</button>
          </div>
          <div class="row justify-content-center">
            <button type="button" class="btn btn-primary save  m-1">Save</button>
          </div>
          <div class="row justify-content-center">
            <button class="btn btn-primary done  m-1" id="done" data-bs-toggle="modal" data-bs-target="#myModal">Done</button>

          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div id="myModal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <img id="img" style="border-width:thin;border-style:solid;border-color:Black;"></img>
      <form enctype="multipart/form-data" method="POST">
        <input id="img-input" type="text" name="pic" hidden="hidden" />
        <textarea  id="message" type="text" name="message" rows="5" cols="80" maxlength="280" />type some thing...</textarea>
        <br>
        <input class="btn btn-primary" type="submit" value="Post" />
        <button class="btn btn-primary save">Save</button>
      </form>
    </div>
  </div> -->

  <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Let's Joyful</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form enctype="multipart/form-data" method="POST">
            <img id="img" class="w-100" style="border-width:thin;border-style:solid;border-color:Black;"></img>
          <textarea id="message" class="form-control" name="message" placeholder="Type some thing..."></textarea>
          <input id="img-input" type="text" name="pic" hidden="hidden" />
          </form>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
          <button class="btn btn-primary save">Save</button>
          <input class="btn btn-primary" type="submit" value="Post" />
        </div>
      </div>
    </div>
  </div>

</body>

</html>