* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.canvas-container {
  /* position: relative; */
  margin-top: 3%;
  text-align: center;
  width: 90%;
  height: 0;
  padding-bottom: 60%; /*Set the height of the canvas container as a percentage of its width*/  
}

canvas{
  position: absolute;
  width: 80%;
  height: 80%;
  display: block;
  margin:auto;
  border: 1px solid #000;
  max-width: 1280px;
  max-height: 720px;
}
#canvas {
  display: block;
  margin: auto;
}

/* .nav {
  width: auto;
  height: 50px;
  position: fixed;
  top: 1%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: opacity 0.5s;
  background: linear-gradient(to right, #4568dc, #b06ab3);
  padding: 10px;
  border-radius: 10px;
  border: 3px solid white;
} */

img {
  /* position: absolute; */
  width: 80%;
  height: 80%;
  display: block;
  /* top: 50%; */
  /* left: 50%; */
  margin: auto;
  /* padding-top: 10%; */
  /* padding-bottom: 10%; */
  transform: translate(-50%, -50%);
}
div,
button,
input {
  margin: 5px;
}
.nav:hover {
  cursor: pointer;
}
buttton:hover {
  cursor: pointer;
}
.clr {
  height: 35px;
  width: 35px;
  background-color: blue;
  border-radius: 50%;
  border: 3px solid white;
  transition: transform 0.5s;
}
.clr:hover {
  transform: scale(1.2);
}
.clr:nth-child(1) {
  background-color: #000;
}
.clr:nth-child(2) {
  background-color: red;
}
.clr:nth-child(3) {
  background-color: orange;
}
.clr:nth-child(4) {
  background-color: blue;
}
.clr:nth-child(5) {
  background-color: purple;
}
.clr:nth-child(6) {
  background-color: yellowgreen;
}
.clr:nth-child(7) {
  background-color: yellow;
}
.clr:nth-child(8) {
  background-color: #fff;
}
button {
  border: none;
  outline: none;
  padding: 0.6em 1em;
  border-radius: 3px;
  background-color: #03bb56;
  color: #fff;
  border: 3px solid white;
  font-size: 15px;
  font-weight: bold;
}
.save,
.done {
  background-color: #0f65d4;
}
input[type="color"] {
  width: 60px;
  height: 40px;
}
#ageOutputId {
  color: white;
  font-weight: bold;
  font-size: 15pt;
}
#ageInputId {
  background: linear-gradient(to right, #000428 0%, #004e92 100%);
  height: 7px;
  outline: none;
  -webkit-appearance: none;
  cursor: ew-resize;
  border-radius: 5px;
  border: 3px solid white;
  accent-color: white;
}
.emoji {
  font-size: 40px;
  padding-bottom: 10px;
}

/*model*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 10%;
  border: 1px solid #888;
  width: 75%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* #canvas {
    animation: color-loop 20s linear infinite;
    background-color: hsl(0 100% 50%);
  }
  
  @keyframes color-loop {
    0% {
        background-color: hsl(0 100% 50%);
    }
    8.33% {
        background-color: hsl(30 100% 50%);
    }
    16.67% {
        background-color: hsl(60 100% 50%);
    }
    25% {
        background-color: hsl(90 100% 50%);
    }
    33.33% {
        background-color: hsl(120 100% 50%);
    }
    41.67% {
        background-color: hsl(150 100% 50%);
    }
    50% {
        background-color: hsl(180 100% 50%);
    }
    58.33% {
        background-color: hsl(210 100% 50%);
    }
    66.67% {
        background-color: hsl(240 100% 50%);
    }
    75% {
        background-color: hsl(270 100% 50%);
    }
    83.33% {
        background-color: hsl(300 100% 50%);
    }
    91.67% {
        background-color: hsl(330 100% 50%);
    }
    100% {
        background-color: hsl(360 100% 50%);
    }
} */
