<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Banana Forest</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
    integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
  <script src="https://kit.fontawesome.com/87f04edde9.js" crossorigin="anonymous"></script>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.21.2/dist/bootstrap-table.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous">
    </script>
  <!-- old bootstrap -->
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
  <!-- new bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
  <!-- css -->
  <link rel="stylesheet" href="../static/css/open-iconic-bootstrap.css">
  <link rel="stylesheet" href="../static/css/base.css">
  <link rel="stylesheet" href="../static/css/post.css">
  <script src="https://unpkg.com/bootstrap-table@1.21.2/dist/bootstrap-table.min.js"></script>
  <script src="../static/js/post-script.js"></script>

  <!-- icon -->
  <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-solid-straight/css/uicons-solid-straight.css'>
  <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-thin-rounded/css/uicons-thin-rounded.css'>
  <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css'>
  <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
  <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-bold-straight/css/uicons-bold-straight.css'>
</head>

<body>

  <!-- <div class="nav-div">
    <nav class="navbar navbar-expand-md navbar-light" id="nav-base">
      <a class="nav-item nav-link" href="{{ url_for('index') }}" style="color: black;"><span
          class="fa-solid fa-house"></span> Home</a>
      {% if current_user.is_authenticated %}
      <a class="nav-item nav-link" href="{{ url_for('profile') }}" style="color: black;"><span
          class="fa-solid fa-user"></span> Profile</a>
      <a class="nav-item nav-link" href="{{ url_for('logout') }}" style="color: black;"><span
          class="fa-solid fa-right-from-bracket"></span> Logout</a>
      {% endif %}

      {% if current_user.is_authenticated %}
      <img class="tw-user-small rounded-circle" src="{{ current_user.avatar_url }}" alt=""
        style="padding-right:5px; margin-left:auto;">
      <button class="btn" id="add_post" type="button">Tweet</button>
      {% else %}
      <a class="btn" id="btn_lg" href="{{ url_for('login') }}" style="color: black;"><span
          class="fa-solid fa-right-from-bracket"></span> Login</a>
      <a class="btn" href="{{ url_for('signup') }}" style="color: black;"><span class="fa-solid fa-user-plus"></span>
        Sign Up</a>
      {% endif %}
    </nav>
  </div> -->

  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand fw-bold" href="{{ url_for('index') }}">Banana Forest</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"></a>
          </li>
        </ul>
        {% if current_user.is_authenticated %}
        <button class="btn" id="add_post" type="button">Post</button>
        <div class="dropdown">
          <img class="tw-user-small rounded-circle object-fit-cover float-end dropdown-toggle object-fit-cover"
            src="{{ current_user.avatar_url }}" data-bs-toggle="dropdown" aria-expanded="false">
          <ul class="dropdown-menu dropdown-menu-lg-end p-2">
            <li><a class="dropdown-item rounded" href="{{ url_for('profile') }}">Profile</a></li>
            <li><a class="dropdown-item rounded" href="{{ url_for('logout') }}">Logout</a></li>
          </ul>
        </div>
        {% else %}
          <a class="nav-link" id="sign-nav" href="{{ url_for('login') }}"><i class="fa-solid fa-right-to-bracket m-1"></i>Login</a> &nbsp
          <a class="nav-link" id="sign-nav" href="{{ url_for('signup') }}"><i class="fa-solid fa-user-plus m-1"></i>Sign Up</a>
        {% endif %}

      </div>
    </div>
  </nav>


  {% block content %}
  {% endblock %}





  <script>
    document.addEventListener('DOMContentLoaded', () => {
      // Get all "navbar-burger" elements
      const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

      // Add a click event on each of them
      $navbarBurgers.forEach(el => {
        el.addEventListener('click', () => {
          // Get the target from the "data-target" attribute
          const target = el.dataset.target;
          const $target = document.getElementById(target);
          // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
          el.classList.toggle('is-active');
          $target.classList.toggle('is-active');
        });
      });
    });
  </script>
</body>


</html>