{% extends "base/base.html" %}
{% block content %}
<p align="center">
  <a href="google/">
  <img id="google"
     src="https://img.shields.io/badge/Google-Connect-brightgreen?style=for-the-badge&labelColor=black&logo=google"
     alt="Google"> <br>
  </a>
  <a href="facebook/">
    <img id="facebook"
       src="https://img.shields.io/badge/Facebook-Connect-brightgreen?style=for-the-badge&labelColor=black&logo=facebook"
       alt="Facebook"> <br>
  </a>
</p>
<div class="column is-4 is-offset-4">
  <div class="box">
    <div class="wrapper">
      <div class="form-box">
        <form id="myForm" method="POST">
          <h2 class="title">Sign Up</h2>
          <p id="errorMessage" style="display: none; color: red;">Email already exists Go to <a href="{{ url_for('login') }}">login page</a></p>
          <div class="control">
            <span class="icon">
              <i class="fa-solid fa-envelope"></i>
            </span>
            <input class="input is-large" type="email" name="email"autofocus="" required>
            <label>Emai</label>
          </div>
          <div class="control">
            <span class="icon">
              <i class="fa-solid fa-address-card"></i>
            </span>
            <input class="input is-large" type="text" name="name" autofocus="" required>
            <label>Name</label>
            
          </div>
          <div class="control">
            <span class="icon">
              <i class="fa-sharp fa-solid fa-key"></i>
            </span>
            <input class="input is-large" type="password" name="password" required>
            <label>Password</label>
          </div>
        <button class="button is-block is-info is-large is-fullwidth">Sign Up</button>
      </form>
    </div>
  </div>
 </div>
</div>
<script>
  const myForm = document.getElementById("myForm");
  const errorMessage = document.getElementById("errorMessage");
  {% with messages = get_flashed_messages() %}
    {% if messages %}
        if ("{{ messages[0] }}" === "Email address already exists") {
          errorMessage.style.display = "block";
        } else {
          errorMessage.style.display = "none";
        }
    {% endif %}
   {% endwith %}
</script>
<link rel="stylesheet" href="../static/css/login-signup.css">
{% endblock %}