{% extends "base/base.html" %}
{% block content %}




<div class="container-fluid">
  <div class="position-absolute top-50 start-50 translate-middle p-4 col-3 rounded border border-3 border-dark inputform">
    <form id="myForm" method="POST">
      <p class="title text-center text-uppercase fs-1 fw-bold m-1">Signup</p>
      <p id="errorMessage" class="text-danger" style="display: none;">Email already exists Go to <a href="{{ url_for('login') }}" class="text-danger">login.</a></p>
      <div class="control">
        <input class="input is-large form-control" type="email" name="email" autofocus required>
        <label> <i class="fa-solid fa-envelope"></i> Email</label>
      </div>
      <div class="control">
        <input class="input is-large form-control" type="text" name="name" required>
        <label> <i class="fa-solid fa-user"></i> Name</label>
      </div>
      <p id="errorMessage_cf_pass" class="text-danger" style="display: none;">Passwords do not match, Please try again</a></p>
      <div class="control">
        <input class="input is-large form-control" type="password" name="password" required>
        <label> <i class="fa-sharp fa-solid fa-key"></i> Password</label>
      </div>
      <div class="control">
        <input class="input is-large form-control" type="password" name="cf_password" required>
        <label> <i class="fa-sharp fa-solid fa-key"></i> Confirm Password</label>
      </div>

      <p class="d-flex justify-content-center">
        <a href="google/" class="nav-link m-1 p-2 rounded border-3" style="border: 3px solid #FF4500;">
          <i class="bi bi-google"></i> &nbsp 
          <span>Google</span> &nbsp 
        </a>
      </p>
      <div class="d-flex justify-content-center">
        <button id="login_btn" class="btn btn-success btn-lg is-block is-info is-large is-fullwidth border border-3 border-dark">Signup</button>
      </div>
    </form>
  </div>
</div>

<script>
  const myForm = document.getElementById("myForm");
  const errorMessage = document.getElementById("errorMessage");
  const errorMessage_cf_pass = document.getElementById("errorMessage_cf_pass")
  {% with messages = get_flashed_messages() %}
    {% if messages %}
        if ("{{ messages[0] }}" === "Email address already exists") {
          myForm.style.display = "block";
          errorMessage.style.display = "block";
        } else {
          errorMessage.style.display = "none";
        }
    {% endif %}
   {% endwith %}

   {% with messages = get_flashed_messages() %}
    {% if messages %}
    if ("{{ messages[0] }}" === "Passwords do not match, Please try again") {
        myForm.style.display = "block";
        errorMessage_cf_pass.style.display = "block";
    } else {
        errorMessage_cf_pass.style.display = "none";
    }
    {% endif %}
    {% endwith %}
</script>
<link rel="stylesheet" href="../static/css/login-signup.css">
{% endblock %}