{% extends "base/base.html" %}
{% block content %}




<div class="container-fluid">
  <div class="position-absolute top-50 start-50 translate-middle p-4 col-3 rounded border border-3 border-dark inputform">
    <form id="myForm" method="POST">
      <p class="title text-center text-uppercase fs-1 fw-bold m-1">Signup</p>
      <p id="errorMessage" class="text-danger" style="display: none;">Email already exists Go to <a href="{{ url_for('login') }}" class="text-danger">login.</a></p>
      <div class="control">
        <p class="m-0 fw-bold"><i class="bi bi-envelope p-1"></i>Emai</p>
        <input class="input is-large form-control" type="email" name="email" autofocus required>
      </div> <br>
      <div class="control">
        <p class="m-0 fw-bold"><i class="bi bi-person p-1"></i>Name</p>
        <input class="input is-large form-control" type="text" name="name" required>
      </div> <br>
      <div class="control">
        <p class="m-0 fw-bold"><i class="bi bi-key p-1"></i>Password</p>
        <input class="input is-large form-control" type="password" name="password" required>
      </div> <br>
      <div class="control">
        <p class="m-0 fw-bold"><i class="bi bi-key p-1"></i>Confirm Password</p>
        <!-- <input class="input is-large form-control" type="password" name="password" required> -->
      </div> <br>

      <p class="d-flex justify-content-center">
        <a href="google/" class="nav-link m-1 p-2 rounded border-3" style="border: 3px solid #FF4500;">
          <i class="bi bi-google"></i> &nbsp 
          <span>Google</span> &nbsp 
        </a>
        <a href="facebook/" class="nav-link m-1 p-2 rounded border-3" style="border: 3px solid #1E90FF;">
          <i class="bi bi-facebook"></i> &nbsp 
          <span>Facebook</span> &nbsp 
        </a>
      </p>
      <div class="d-flex justify-content-center">
        <button id="login_btn" class="btn btn-success btn-lg is-block is-info is-large is-fullwidth border border-3 border-dark">Signup</button>
      </div>
    </form>
  </div>
</div>







<!-- <div class="column is-4 is-offset-4">
  <div class="box">
    <div class="wrapper">
      <div class="form-box">
        <form id="myForm" method="POST">
          <h2 class="title">Sign Up</h2>
          <p id="errorMessage" style="display: none; color: red;">Email already exists Go to <a href="{{ url_for('login') }}">login page</a></p>
          <div class="control">
            <span class="icon">
              <i class="fa-solid fa-envelope"></i>
            </span>
            <input class="input is-large" type="email" name="email"autofocus="" required>
            <label>Emai</label>
          </div>
          <div class="control">
            <span class="icon">
              <i class="fa-solid fa-address-card"></i>
            </span>
            <input class="input is-large" type="text" name="name" autofocus="" required>
            <label>Name</label>
            
          </div>
          <div class="control">
            <span class="icon">
              <i class="fa-sharp fa-solid fa-key"></i>
            </span>
            <input class="input is-large" type="password" name="password" required>
            <label>Password</label>
          </div>
        <button class="button is-block is-info is-large is-fullwidth">Sign Up</button>
      </form>
    </div>
  </div>
 </div>
</div> -->


<script>
  const myForm = document.getElementById("myForm");
  const errorMessage = document.getElementById("errorMessage");
  {% with messages = get_flashed_messages() %}
    {% if messages %}
        if ("{{ messages[0] }}" === "Email address already exists") {
          errorMessage.style.display = "block";
        } else {
          errorMessage.style.display = "none";
        }
    {% endif %}
   {% endwith %}
</script>
<link rel="stylesheet" href="../static/css/login-signup.css">
{% endblock %}